 <div class="card w-96 mx-4 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{ @name }</h2>
    <p>{ @description }</p>
    <div class="card-actions justify-end mt-4">
      <.link href={@url} class="btn btn-primary">Go to Project</.link>
    </div>
  </div>
</div>
