<div class="card bg-base-100 mx-4 w-96 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{@name}</h2>
    <p>{@description}</p>
    <div class="card-actions mt-4 justify-end">
      <.link href={@url} class="btn btn-primary">Go to Project</.link>
    </div>
  </div>
</div>
