<.h1>Projects</.h1>
<div class="flex flex-wrap gap-6">
  <.project_card
    :for={project <- @projects}
    name={project.name}
    description={project.description}
    url={project.url}
  />
</div>
