<meta name="description" content={meta(assigns, :description) || "Json's Playground"}>
<meta name="keywords" content="software development, software engineer, consulting, elixir">
<meta property="og:title" content={meta(assigns, :title) || "Json Media"}/>
<meta property="og:description" content={meta(assigns, :description)}/>
<%= if cover_url = meta(assigns, :cover_url) do %>
  <meta property="og:image" content={cover_url}/>
<% end %>
