<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <.live_title suffix=" · Json Media">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <%= render "_meta.html", assigns %>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"}/>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body>
    <header class="px-8 py-6 flex items-center">
      <div class="flex-none w-32">
        <.link href={~p"/"} class="cursor-pointer text-xl hover:font-bold">Json Media</.link>
      </div>
      <div class="flex-1 ml-16">
        <ul class="flex">
          <li class="px-2 border-y-2 border-transparent hover:border-b-primary">
            <.link navigate={~p"/blog"}>Blog</.link>
          </li>
          <li class="px-2 border-y-2 border-transparent hover:border-b-primary">
            <.link href={~p"/projects"}>Projects</.link>
          </li>
        </ul>
      </div>
    </header>
    <%= @inner_content %>
    <footer class="footer p-8">
      <div>
        <span class="footer-title">Social</span>
        <div class="grid grid-flow-col gap-4">
          <a href="https://github.com/nallwhy" target="_blank">
            <Icon.github class="fill-gray-500 hover:fill-black" width="24" height="24" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
