<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= render "_meta.html", assigns %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="px-8 py-6 flex items-center">
      <div class="flex-none w-32">
        <%= link "Json Media", to: Routes.page_path(@conn, :index), class: "cursor-pointer text-xl hover:font-bold" %>
      </div>
      <div class="flex-1 ml-16">
        <ul class="flex">
          <li class="px-2 border-y-2 border-white hover:border-b-primary">
            <%= live_redirect "Blog", to: Routes.blog_post_index_path(@conn, :index) %>
          </li>
        </ul>
      </div>
    </header>
    <%= @inner_content %>
    <footer class="footer p-8">
      <div>
        <span class="footer-title">Social</span>
        <div class="grid grid-flow-col gap-4">
          <a href="https://github.com/nallwhy" target="_blank">
            <Icon.github class="fill-gray-500 hover:fill-black" width="24" height="24" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
