@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./code_highlight.css";

/* This file is for your main application CSS */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  fill: currentColor;
}

.prose {
  overflow-wrap: break-word;
}

.tag {
  background-color: rgba(110, 118, 129, 0.4);
  padding: 2px 6px;
  border-radius: 0.4rem;
  color: var(--tw-prose-links);
  font-weight: 600;
  font-size: 0.875em;
}