.prose pre {
  background-color: #1e1e1e;
}

.makeup .k {
  color: #c485bf
}

.makeup .kd {
  color: #c485bf
}

.makeup .kn {
  color: #569cd6
}

.makeup .nc {
  color: #4ec9b0
}

.makeup .nf {
  color: #dcdcaa
}

.makeup .p {
  /* color: #ffd700 */
}

.makeup .s {
  color: #ce9178
}

.makeup .ss {
  color: #569cd6
}

.makeup .sx {
  color: #ce9178
}

