.prose code.inline {
  background-color: rgba(110, 118, 129, 0.4);
  padding: 2px 6px;
  border-radius: 0.4rem;
}

.prose pre {
  background-color: #1e1e1e;
}

.makeup .k {
  color: #c485bf;
}

.makeup .kd {
  color: #c485bf;
}

.makeup .kn {
  color: #569cd6;
}

.makeup .mi {
  color: #b5cea8;
}

.makeup .na {
  color: #9cdcfe;
}

.makeup .nc {
  color: #4ec9b0;
}

.makeup .nf {
  color: #dcdcaa;
}

.makeup .ow {
  color: #c485bf;
}

.makeup .p {
  /* color: #ffd700; */
}

.makeup .s {
  color: #ce9178;
}

.makeup .si {
  color: #569cd6;
}

.makeup .ss {
  color: #569cd6;
}

.makeup .sx {
  color: #ce9178;
}

.makeup .c {
  color: #6a9955;
}

.makeup .c1 {
  color: #6a9955;
}
