.prose {
  overflow-wrap: break-word;
}

.prose .tag {
  background-color: rgba(110, 118, 129, 0.4);
  padding: 2px 6px;
  border-radius: 0.4rem;
  color: var(--tw-prose-links);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :not(pre) code {
  background-color: rgba(110, 118, 129, 0.4);
  padding: 2px 6px;
  border-radius: 0.4rem;
}

.prose .footnotes {
  @apply border-t-2;

  li {
    @apply mt-0 mb-0;
  }

  p {
    @apply mt-0 mb-0;
  }
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  position: relative;
}

.prose a.anchor,
.prose a.anchor,
.prose a.anchor,
.prose a.anchor,
.prose a.anchor {
  position: absolute;
  left: -1.2em;
  top: -0.05em;
  opacity: 0;
  text-decoration: none;
  transition: opacity 0.2s;
}

.prose :hover>a.anchor,
.prose :hover>a.anchor,
.prose :hover>a.anchor,
.prose :hover>a.anchor,
.prose :hover>a.anchor {
  opacity: 1;
}

/* 
.prose pre {
  background-color: #1e1e1e;
}

.makeup .k {
  color: #c485bf;
}

.makeup .kd {
  color: #c485bf;
}

.makeup .kn {
  color: #569cd6;
}

.makeup .mi {
  color: #b5cea8;
}

.makeup .na {
  color: #9cdcfe;
}

.makeup .nc {
  color: #4ec9b0;
}

.makeup .nf {
  color: #dcdcaa;
}

.makeup .ow {
  color: #c485bf;
}

.makeup .p {
  color: #d4d4d4;
}

.makeup .s {
  color: #ce9178;
}

.makeup .si {
  color: #569cd6;
}

.makeup .ss {
  color: #569cd6;
}

.makeup .sx {
  color: #ce9178;
}

.makeup .c {
  color: #6a9955;
}

.makeup .c1 {
  color: #6a9955;
} */
