<.h1>Projects</.h1>
<div class="flex flex-wrap gap-6">
  <%= for project <- @projects do %>
    <.project_card
      name={project.name}
      description={project.description}
      url={project.url}
    />
  <% end %>
</div>
